registry=http://localhost:4873

# 将本地包连接到node_modules
#link-workspace-packages=true
# 优先使用工作目录的package，只有save-workspace-protocal=false时有效
#prefer-workspace-packages=false
# 共享lock文件，有利于模块解析
#shared-workspace-lockfile=true
# package.json中的版本范围是否携带workspace协议
#save-workspace-protocol=true
# 递归执行是否作用在根工作区
#include-workspace-root=false
